body {
    background-color:rgb(55, 64, 74);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 100px); /* this is a maths calc to give a precise value */
    border: 10px solid rgb(15, 106, 182);
    color: rgb(228, 129, 8);
    text-align: center;
}

.top-section {
    background-image: url(https://images.pexels.com/photos/4482896/pexels-photo-4482896.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.top-section {
    background-color: rgb(55, 64, 74);
}

.grid {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item {

    border: 10px solid rgb(15, 106, 182);
}

.grid-item > a {
    display: flex;
    color: crimson;
    text-decoration: none;
}

.grid-item > img {
  width: 50%;
}

.grid-item > h3 {
    margin-top: 0;
}